.box1 {
    width: 1200px;
    height: 150px;
    border: 1px solid gainsboro;
    background-color: aliceblue;
}

.box2 {
    width: 1200px;
    height: 150px;
    border: 1px solid gainsboro;
    background-color: aliceblue;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box3 {
    width: 1200px;
    height: 150px;
    border: 1px solid gainsboro;
    background-color: aliceblue;
}

div{
      margin-top: 20px;
    margin-bottom: 20px;
}

.easy{
    color: green;
}
.middle{
    color: rgb(215, 215, 84);
}
.high{
    color: red;
}
.blue{
    color: blue;
}